
.outerCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;

}

@media only screen and (max-width: 1440px) {
  .outerCard{
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}

@media only screen and (max-width: 1024px) {
  .outerCard{
  grid-template-columns: 1fr 1fr  ;
  }
}